# Ignore Visual Studio related folders
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build output folders
bin/
obj/

# Ignore .NET project files
*.dll
*.exe
*.pdb
*.cache
*.tmp
*.log

# Ignore XAML Designer files
*.g.i.cs
*.g.cs
*.csproj.FileListAbsolute.txt
*.AssemblyInfo.cs
